
@font-face {
    font-family: open_sans;
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: open_sans;
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
    font-style: italic;
}